


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
<title> 
    عقوبات القانون السوري
</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/style2.css" rel="stylesheet" />

</head>
<body>
    {% block body %}     
    <div >


        <img src="static/images/logo26.jpg" alt="error" class="center">
    
    </div>
    <div class="container">
    <p class="Article">
       
        	 جريمة الذم  -
هو نسبة أمر  الى شخص ولولمعرض الشك أو الاستفهام ينال من شرفه أو كرامته فهو كل  
تعبير علني ينسب فيه الجاني إلى المجني عليه أمراً محدداً، من شأنه لو كان صادقاً أن يؤدي إلى عقاب المجني عليه أو احتقاره كأن ينسب الجاني إلى المجني عليه سرقة أو اختلاس أو رشوة
<br>  

  	 جريمة التحقير  -
هو كل قول أو كتابة أو رسم أو صورة أو أي إشارة أو أي تعبير يقلل من الاحترام الذي يتمتع به الجهة التي وجه إليها  حيث لابد أن يكون حصل علانية  النيل من الاحترام الذي يحق للمجني عليه أن يتمتع به في المجتمع والقول بوجوده أو عدم وجوده يدخل في نطاق السلطة التقديرية لقاضي الموضوع الذي يأخذ باعتباره ظروف المجني عليه ومركزه الاجتماعي ووضعه الوظيفي أو العائلي 
<br>  


	جريمة القدح-  
كل لفظة ازدراء أو سباب وكل تعبير أو رسم يشفان عن التحقير يعد قدحاً إذا لم ينطو على نسبة أمر ما أي إسناد أقوال أو أمور إلى شخص ما، تتضمن خدشا للشرف أو الاعتبار دون تعيين واقعة محدودة، وهكذا، يختلف القدح عن الذم الذي يتضمن واقعة محددة مثل استخدام ألفاظ كذاب، لص

    </p>
    <p class="Article">

        جريمة الذم والقدح والتحقير في القانون السوري
        تمهيد وتصنيف :
        يتناول هذا العنوان مواد قانون العقوبات التالية :
        أولاً :  المواد المتعلقة بالتحقير وهي :  373-374
        ثانياً :  المواد المتعلقة بالذم وهي : 375 – 376 – 377
        ثالثاً :  المواد المتعلقة بالقدح وهي : 378
        أما المادة 379 فهي تتناول حالة مشتركة بين جريمتي الذم والقدح، تتعلق بجواز المحكمة الناظرة بالدعوى أن تأمر بنشر الحكم الصادر بجريمتي القدح والذم، لأسباب من ضمنها رد اعتبار الجهة الواقع عليها أحد أفعال القدح والذم.
        هذا ولا بد من الإشارة إلى أن ورود النصوص المتعلقة بالقدح والذم تحت باب ( الجرائم الواقعة على السلطة العامة ) فهو يعني حصر هذه المواد بوقوعها على أشخاص معينين يتمتعون بالسلطة العامة، كأفراد أو جهات رسمية.
        أما جرائم القدح والذم الواقعة على الأفراد فهي موضوعها أحكاماً أخرى من مواد قانون العقوبات وردت تحت عنوان ( الجرائم الواقعة على الحرية والشرف ) وجرى النص عليها بالمواد 568 – 569 – 570 – 571 – 572 منه.
        والدراسات العملية لجرائم القدح والذم سواء الواقعة على أفراد عاديين أم جهات رسمية أو أشخاص يتمتعون بالسلطة العامة، تثبت عدم الاختلاف في أركان هذه الجرائم إلا بشكل طفيف، بحيث أن المشرع جعل من وقوع هذه الأفعال على الأشخاص أو الجهات العامة ظرفاً مشدداً للفعل لا أكثر ولا أقل وبالتالي ينعكس هذا الظرف المشدد على مقدار العقوبة الواجبة.
        وسنتناول تباعاً هذه المواد فيما يلي من أبحاث.
        الفصل الثاني
        جريمة الذم
        تعريفها :
        عرفت المادة 375 من قانون العقوبات العام الذم في فقرتها الأولى بأنه:
        1-“الذم هو نسبة أمر إلى شخص ولو في معرض الشك أو الاستفهام، ينال من شرفه أو كرامته.
        2-…… ” .
        فالذم إذن هو إسناد واقعة محددة من شأنها أن تؤدي إلى احتقار من وقع عليه الفعل، وتنال من شرفه وكرامته كاتهام شخص بالسرقة أو التزوير، وغيرها من التهم التي تستوجب معاقبة المتهم.
        والشرف والكرامة هما شعور الفرد بما يلقاه من احترام قبل الغير، أثناء التعامل، ويمكن أن يكون لهما مدلول موضوعي، هو مكانة الفرد في المجتمع وما يتفرع عنها من حق تعامل المجتمع معه وفق ما تتطلبه هذه المكانة.
        والجهة التي تكون موضع الذم يجب أن تتوفر فيها أهلية مرتبطة بالمكانة الاجتماعية، ويمكن أن يكون المجني عليه شخصاً طبيعياً، أو شخصاً معنوياً أو هيئة عامة.
        فإذا كان الشخص طبيعياً، فلا عبرة في صلاحيته لوقوع الفعل عليه طبيعة سنة أو جنسه أو مهنته أو جنسيته لأن الشرف والكرامة هما حقان لأي فرد ولا يتوقفان على عامل ما، سوى كونه إنساناً ذو صلاحية لأداء وظيفته الاجتماعية.
        ويعترف القانون بالشرف والكرامة والاعتبار للشخصيات الاعتبارية، باعتبار أن لها وظيفة اجتماعية ذات أهمية خاصة يوليها القانون حماية كبيرة.
        والغاية من هذا النص القانوني هي حماية الشرف والكرامة والاعتبار لدى الشخص مما يمسه من أفعال خطيره من خلال إسناد وقائع قد تحتمل التصديق والاحتمال لدى السامع أو القارئ أو المشاهد، ولما تتخذه من علنية تؤدي إلى سقوط شرف واعتبار وكرامة المجني عليه لدى طائفة كبيرة من الناس وهو يؤدي إلى خطر جسيم ذو عواقب وخيمة لا حصر لها. كاختلال الثقة بالمجني عليه من قبل من يتعامل معه، وما يؤدي أخيراً هذا الجرم من إيلام نفس وشعور المجني عليه.
        أركان هذه الجريمة :
        1-الركن المادي :
        يتكون هذا الركن من نشاط يأتيه الجاني هو فعل الإسناد من خلال ما يعبر به لفكرة أو واقعه تنسب لذات المجني علي، والتعبير الذي يأتيه الجاني تختلف صورة ووسائله سواء بالقول أو الإشارة أو الصياح أو الكتابة أو المقالة أو الخطابة، أو بأية وسيلة أخرى ميكانيكية أو آلية لنقل فكرة الإسناد من فكر الجاني إلى فكر شخص آخر، وهذا النقل الفكري يمر بمرحلتين هما التعبير عن هذه الواقعة بأية وسيلة من وسائل الإفصاح ثم إذاعتها بشكل علني، وهذا الفعل يقوم به شخص واحد وإذا ما قام به اثنان أو أكثر فيعتبر كل منهما فاعلاً للجريمة.
        ووسائل التعبير متعددة ولا حصر لها وفعل الذم يقوم بأية واحدة منها كالكلام الشفوي أو المحررات سواء أكانت مطبوعة أو كتابة، أو رموزاً أو رسوماً، أو صرواً وما يدخل تحتها من أشكال كالسينما والتلفزيون وغير ذلك.
        ونسبة الأمر أو إسناد الواقعة المتضمنة ذماً قد يكون صريحاً وظاهراً وما من حاجة إلى بذل جهد لفهمه أو للدلالة عليه، وقد يكون ضمنياً خاصة إذا ما تستر الفاعل وراء ألفاظ فيها من وسائل الاستعارة أو الكتابة أو التورية، أو بشكل عبارات استفهام، وما إلى ذلك من الصيغ البيانية في أسلوب الكتابة والخطابة.
        كما قد يكون هذا الأمر المسند على سبيل اليقين، وقد يكون على سبيل الظن والشك والاحتمال وكلاهما يعتبر ذماًَ.
        ونسبة الأمر أو الإسناد هو الواقعة التي يسندها الفاعل إلى المجني عليه لينال بها من شرفه أو كرامته.
        أما المقصود بالواقعة فهي كل ما يتصور حدوثه ووقوعه سواء أكان حاصلاً وواقعاً أم من المحتمل وقوعه وحصوله.
        ومسألة تحديد المجني عليه، فإن القانون لا يتطلب ذكر اسمه كاملاً أو بياناته التفصيلية عن هويته وشخصيته وإنما يجوز أن يكون هذا التحديد نسبياً أي من شأن فئة من الناس سهولة التعرف على المجني عليه من خلال وقائع الإسناد الموجهة إليه الماسة بشرفه أو كرامته، إذ لو اشترط المشرع لوقوع هذا الجرم ضرورة ذكر كافة بيانات ومفردات هوية المجني عليه، لأفلت الفاعل من العقاب بإغفال إيراده لبعض هذه البيانات عمداً .
        وهذا المعيار في التحديد يعود النظر فيه إلى قاضي الموضوع ومدى تقديره.
        والواقعة المنسوبة إلى المجني عليه يفترض فيها أن تنال من شرفه أو كرامته فضلاً عن أنها واقعة مستوجبة العقاب. فحين يقول الجاني عن المجني عليه أنه سارق أو مختلس، فتكون هذه الواقعة معاقباً عليها ويكون تأثيرها على نفس المجني عليه خطيراً، حتى ولو استحال تنفيذ العقاب على ذات المجني عليه لقيام مانع من موانع العقاب مثلاً.
        وغني عن البيان أن هذا العقاب يشمل أيضاً العقاب التأديبي. والواقعة المسندة للمجني عليه تعتبر ذماً إذا تناولت حياته المهنية، كالقول عن محامٍ أنه فاشل ولم يسعى إلى معرفة مبادئ القانون في عمله المهني، وهذا المبدأ يختلط أحياناً مع ما يتطلبه البعض من ممارسة حق النقد المشروع ضمن أسس معرف بها، كمناقشة مستوى الخبرة لدى المحامي مثلاً، أو مقارنته مع زملائه من المحامين فهذا لا يعتبر ذماً ولا جرماً وإنما نقداً مباحاً إذا لم يخرج عن هذه الحدود، وقد قيل في هذا المجال ” إن القانون يحمي الاعتبار المهني، ولكنه لا يحمي المجد المهني “.
        2-وقوع الفعل علنية :
        يميز في هذا المجال ما بين الحالات التالية :
        *حالة الذم المنصوص عليه في المواد 375 – 376 – 377 وهي المندرجة تحت عنوان ( الجرائم الواقعة على السلطة العامة ) أي الواقعة على شخصية أو هيئة اعتبارية .
        فالذم بهذه الحالات يستلزم وقوعه علنية، أما وسائل العلنية فقد أحال نص المادة 376 من قانون العقوبات إلى نص المادة 208 منه التي تحدد حالات العلنية على سبيل المثال لا الحصر.
        فالفعل لا يقوم إلا بعمل أو حركة يحصلان في محل عام أو مكان مباح للجمهور أو معرض للأنظار أو شاهدها بسبب خطأ الفاعل من لا دخل له بالفعل .
        أو بالكلام أو الصراخ عن طريق الجهر بهما أو نقلاً بالوسائل الآلية ويسمعها من لا دخل له بالفعل أو بالكتابة والرسوم والصور اليدوية أو الشمسية أو الأفلام، والشارات والتصاوير على اختلاف أنواعها، إذا ما عرضت في محل عام أو مكان مباح للجمهور أو معرض للأنظار أو بيعت أو عرضت للبيع أو وزعت على شخص أو أكثر.
        ويمكن إرجاع هذه الوسائل الواردة على سبيل المثال بنص المادة المذكورة إلى حالات العلنية بالقول والعلنية بالفعل والعلنية بالكتابة .
        وعلنية القول تشمل الكلام أو الصراخ المباشر أو نقلهما بإحدى الوسائل الآلية كاللاسلكي أو الهاتف أو الإذاعة، والجهر يعني النطق بالكلام موضوع الذم بصوت مرتفع وعال يمكن عدد من الناس غير معنيين من سماعه .
        ولا فرق بين الجهر والصياح المباشر أو الاستعانة بإحدى الوسائل، طالما أن النتيجة قد تحققت وهي سماع القول من لا دخل له بالفعل وبدون تمييز في العدد.
        والعلنية بالقول تستمد صفتها هذه وتتحقق بطبيعة المكان الواقع فيه الجرم، لكي تقوم حالة علم الجمهور بالواقعة المسندة للمجني عليه موضوع الذم.
        ولكن حدوث واقعة الإسناد بالجهر بالقول في الأمكنة التي حددتها المادة 208 عقوبات لا يعني حكماً اقتصارها على هذه الحالات فقد سبق القول أن نص المادة المذكورة ورد بأساليب العلنية على سبيل المثال، وعلى القاضي إذن مسؤولية ملاحظة واستنتاج فعل الذم من واقع القضية والظروف المحيطة بها.
        وعلنية الفعل تحقق بعمل أو حركة يحصلان في محل عام أو كان مباح للجمهور أو معرض للأنظار أو شاهدها بسبب خطأ الفاعل من لا دخل له بالفعل. وهي قليلة الوقوع نظراً لأن هذه الجرم يتحقق غالباً بالقول أو الكتابة.
        وهناك إشارات باليد تعطي مدلولاً معيناً ومعروفة، بحيث أن الفعل يتحقق بثبوت إحداها. كما يمكن أن يتحقق هذا الفعل باتهام الشخص لآخر ارتكابه جرماً معيناً، عن طريق الإشارة إليه بإصبعه أمام جمع من الناس، إذا ما ثار التساؤل بينهم عمن قام بهذا الجرم.
        وعلنية الكتابة هي أوسع شمولاً نظراً لاتساع أساليبها وصورها ومدى تأثيرها على الجمهور، فهي تشمل الرسوم والصور اليدوية والشمسية والأفلام والشارات والتصاوير، إذا ما عرضت في محل عام أو مكان مباح للجمهور أو معرض للأنظار أو عرضت للبيع أو بيعت أو وزعت على شخص أو أكثر.
        وهذا النوع من الأفعال يشمل عرض الكتابة لمن يستطيع أن يراها بدون اشتراط عدد معين أو تمييز بين الجمهور وهذه الحالة تفترض عرضاً فعلياً للأنظار.
        ويشمل أيضاً بيع هذه الكتابة وفق مفهوم البيع القانوني الوارد في أحكام القانون المدني ، وبذلك يفترض بالبائع – الجاني – أن يسلم لأحد الجمهور المبيع – الكتابة المحتوية على واقعة الذم – كالتزام مفروض عليه بموجب الأحكام الناظمة للبيع، وبطريقة البيع هذه تتحقق العلنية.
        والتوزيع يحقق العلنية في مفهومه لمن يرغب من الجمهور بغير تمييز أيضاً، وهو يعني تسليم المادة الكتابية ونقل حيازتها إلى عدد من الأشخاص يفترض اطلاعهم على هذه المادة بما يحقق العلنية بهذه العملية .
        *حالة الذم المنصوص عليها في المواد 568 – 569 – 571 – 572، وهي المواد التي تعالج وقوع فعل الذم على أشخاص عاديين، فقد تضمنت الفقرة الثانية من المادة 568 ما مفاده أن الذم يمكن أن يقع بدون علنية وبالتالي فالعقوبة تختلف عن الذم الواقع علنية، ويقضي عندئذ بالغرامة فقط إذا لم يحصل جرم الذم علنية.
        وهذا الفعل لا يختلف عن سابقه الواقع علنية من حيث الركن المادي والأفعال والوقائع المسندة إلا بأنه يمكن حصوله بدون العلنية فيه.
        2-الركن المعنوي للذم :
        يتوجب توفر النية الجرمية لدى الفاعل، ويتعين عليه أن يعلم أن ما يسنده م وقائع للمجني عليه تمس شرفه أو كرامته، ويعلم أيضاً أن هذه الوقائع المسندة أو المنسوبة تستوجب معاقبة القانون عليها، والعلم بهذه الواقعة المعاقب عليها لا يتطلب العلم بنصوص قوانين العقوبات التي تستمد منها الواقعة هذه الصفة الجرمية، وإنما يكفي مجرد العلم أن هذه الواقعة تنطوي على مساس بحقوق أساسية للأفراد والمجتمع وتشكل جرائم معاقب عنها، ومن البداهة أن يعلمها الجاني وعلى جهة الإدعاء عبئ إثبات توفر القصد الجرمي لدى الفاعل، وإبراز كافة عناصر هذا الجرم من خلال وقائع الدعوى وظروفها وملابساتها يستوجب على محكمة الموضوع عبؤه.
        *الذم المعاقب عليه بأحكام المادة 376 من قانون العقوبات :
        لا يختلف شرح هذه الجريمة وأركانها سوى أن هناك ظرفاً مشدداً لناحية العقوبة لأسباب واعتبارات أوردها المشرع منه صفة المجني عليه، ومنها أيضاً علاقة السببية ما بين وقوع فعل الذم من جهة وصلته بالوظيفة العامة من جهة أخرى.
        -فالذم الواقع على رئيس الدولة هو جريمة جنحوية الوصف وعقوبتها الحبس من سنة إلى ثلاثة سنوات والذم هنا قد يتناول حياة الرئيس الخاصة بصفته الإنسانية وقد يتناولها بصفتها العامة كمنصب سياسي وظيفي. وهذه المادة تحمي مركز رئيس الدولة وشخصيته من أن تنالها الألفاظ غير اللائقة نظراً لما يمثل ويجسد الدولة بكل معانيها، وهذه المادة أيضاً تضفي الاحترام الواجب له ولسلطته في إدارة البلاد.
        هذا مع ملاحظة أن منصب رئيس الدولة له حصانته المستمدة من صفته ومنصبه، والتي لا يجوز تناولها بما يسيء إليه شخصياً أو بمنصبه الرسمي.
        -والذم الواقع على موظف رسمي عام معاقب عليه بنص المادة 376 عقوبات عام وهو يفرق ما بين حالتين بالنسبة للعقاب وصفته ووظيفة الموظف.
        -فالموظف العادي الذي لا يمارس السلطة العامة تكون العقوبة المقررة لوقوع الذم عليه بالحبس حتى ثلاثة أشهر أ والغرامة مائة ليره يورية وهي عقوبة جنحوية الوصف.
        وهذا النص يتناول حماية شخص الموظف العام الذي يقوم بوظيفة عامة تجاه الجمهور، مع ما يلاقيه عمله من عقبات وصعوبات قد تنتج أموراً وإشكالات تؤثر على سير عمله ووظيفته، لذلك حماه المشرع بنص هذه المادة التي تشترط أيضاً أن يكون الشخص موظفاً وأن يكون فعل الذم واقع عليه بسبب ناشئ عن وظيفته أو أثناء ممارسته هذه الوظيفة.
        وهذا النص يفرق عملياً بين حياة وتصرفات الموظف الشخصية أو الحياتية، وتصرفاته أثناء عمله التي يحميها نص المادة سابقة الذكر، دون حياته وتصرفاته الشخصية التي لا علاقة لها بعمله.
        -والموظف الذي يمارس السلطة العامة تشدد العقوبة بحيث تصلإلىالحبس سنة وفق نص المادة 376 من قانون العقوبات العام.
        وفي معرض التفريق وبيان الاختلاف ما بين الموظف الذي يمارس السلطة العامة، والموظف الذي لا يمارسها.
        فقد ورد في اجتهاد ما يلي :
        ” إذا كان عمل الموظف مقتصراً على تنفيذ ما يلقى إليه من الأوامر فهو موظف بالمعنى المطلق، ولا يستطيع أن يمارس السلطة، ولا أن يصدر أمراً واجب التنفيذ كأفراد الشرطة وموظفي الدواوين ومثالهم، وإن شرطي المرور لا يعد ممارساً السلطة العامة، فالتحقير الموجه إليه ينطبق على أحكام الفقرة 1 من المادة 373 من قانون العقوبات.
        أما التحقير الموجه إلى موظف يمارس السلطة، كالمحافظ وأمين العاصمة وأمثالهما، فيكون منطبقاً على أحكام الفقرة 2 من المادة المذكورة”
        وبشكل عام فإن هذا الجرم المرتكب ورد تشديد العقاب عليه بسبب تتطلبه المصلحة العامة في أن تكفل للموظف الطمأنينة في عمله، وإبعاد كافة ما يعوق عمله من مؤثرات، وبالتالي تجعله في مأمن وهو يقوم بوظيفته بأحسن وأتم أداء.
        -والذم الواقع على المحاكم أو الهيئات المنظمة أو الجيش أو الإدارات العامة، معاقب عليه بعقوبة جنحية هي الحبس سنة.
        وبمثل ما يقتضيه القانون من حماية الأفراد العاديين والأشخاص الاعتبارية، فإنه يقوم بحماية كافة إدارات ومنشآت الدولة العامة وهيئاتها إضافة للجيش الوطني والمحاكم.
        وهذه الحماية لا تتناول شخصاً ما منتسب ومنتمي إلى إحدى هذه الجهات وإنما هو حماية لهذه الهيئة ذات الشخصية الاعتبارية المستقلة عن شخصية أفرادها.
        فالمحاكم هي الجهات المعنية بتطبيق العدالة وممارستها فلا يجوز النيل منها والتأثير عليها.
        والجيش هو مجموع القوى والأسلحة والمنشآت والثكنات والوحدات وهو يحمي الوطن عند وجود خطر ويمثل هيبة الدولة وسياجها المتين فلا يجوز توجيه إليه أحد ألفاظ الذم لما يجسد من هذه المعان وما يقوم به من مهام.
        والإدارات والهيئات المنظمة كلها وسائل من مفردات قيام الدولة وأسسها وبنيانها فلا يجوز التطاول عليها والنيل منها.
        الفصل الثالث
        جريمة القدح
        تعريفها :
        عرفت الفقرة الثانية من المادة 375 من قانون العقوبات القدح بأنه:
        2-“وكل لفظة ازدراء أو سباب أو تعبير أو رسم يشفان عن التحقير يعد قدحاً إذا لم ينطو على نسبة أنة ما. وذلك دون التعرض لأحكام المادة 373 التي تتضمن تعريف التحقير”
        والقدح هو اعتداء على اعتبار وكرامة وشرف الشخص بدون إسناد فعل أو واقعة معينة له.
        وقد نظم المشرع أحكامه وعاقب عليه نظراً لما ينطوي على هذا الفعل من ضرر مادي ومعنوي للمجني عليه وإيلام لنفسه وكرامته واعتباره.
        والقدح من حيث النتيجة مثل الذم فيه إخلال بشرف وكرامة المجني عليه لدى طائفة من الناس ويؤدي إلى اختلال الثقة بالمجني عليه من قبل من يتعامل معه، وقد يفضي إلى تبادل الاعتداء بين طرفي الجرم.
        *أركان هذه الجريمة :
        1-الركن المادي :
        يقوم هذا الركن على نشاط يبديه الفاعل تجاه المجني عليه وهو كل ما من شأنه الحط من قيمة وكرامة الغير بالألفاظ أو السباب أو التعبير بدون أن يتضمن هذا النشاط إسناد واقعة محددة إلى شخص المجني عليه، ويجب أن يوجه هذا النشاط إلى شرفه واعتباره، ويتبدى ذلك بأنه تعبير يبديه الجاني بأية وسيلة سواء بالكتابة أو الكلام أو الإشارة، فالكتابة تستوي إذا كانت مطبوعة أو بخط اليد ويمكن أن تكون برموز وصور وأشكال، وقد تكون صريحة أو ضمنية، مباشرة أو غير مباشرة، وبكافة ما قد تم شرحه من أمور وشكليات متعلقة بالذم تنطبق على القدح.
        والقدح يتم بدون إسناد عيب معين للمجني عليه كأن يقال، إنه شخص بعيد عن الفضيلة والأخلاق.
        ويقوم الركن المادي بالقدح إذا تمنى الفاعل للمجني عليه أساليب الشر بدون تحديد، كأن يتمنى موته أو هلاكه.
        وأخذ المشرع المصري أبعد من ذلك فاعتبر ( الغزل ) صورة من صور القدح، إذ أن توجيه عبارات الغزل إلى أنثى هو قدح لها. سواء أكانت عباراته من قبيل الإطراء والتحبب أم كان فيها حث على سلوك فعل يخدش حياءها وشرها. وقد علل المشرع ذلك، لأن الغزل يعني تقبل الأنثى إطراء محاسنها ومفاتنها من أي شخص كان، وهو سلوك بحد ذاته ينافي سلوك الأنثى الشريفة التي لا تتقبل مثل هذا الابتذال
        ويتعين على القضاء إبراز هذه العبارات والدلالات لإبراز الركن المادي وقيامه في هذا الجرم دلالة واضحة.
        وفيما يتعلق بشخص من وقع عليه الفعل وهو المجني عليه فلم يفترض القانون تعيينه تعييناً تفصيلياً أو دقيقاً وإنما يكفي أن يكون هذا التحديد ما يمكن فئة من الناس التعرف عليه بدون لبس أو غموض من خلال الوقائع والأوصاف والألفاظ المسندة للمجني عليه، ويقع على قاضي الموضوع تحديد هذا المعيار ومدى توفره من خلال ظروف وملابسات كل دعوى على حده.
        2-وقوع الفعل علنية :
        العلنية شرط لازم لبعض حالات القدح أي أنها ركن لانعقادها، وهي شرط غير لازم في حالات أخرى، وسنبين هذه الحالات بما هو آتٍ:
        *-القـدح المنصوص عليه بالمادة 378 مـن قانـون العقوبات العـام، الواردة تحـت عنـوان      ( الجرائم الواقعة على السلطة العامة ) أي الواقعة على شخصية أو هيئة اعتبارية.
        فالقدح بهذه المادة يتناول عدة حالات لا تقوم إلا علنية، ووسائل العلنية سبق الإشارة إليها في أحكام المادة 208 عقوبات عام التي وردت حالات العلنية فيها على سبيل المثال دون الحصر.
        وما استفضنا فيه من شروح تتعلق ببحث الذم ينطبق على هذه الحالة من أحكام ووقائع.
        *-القدح المنصوص عليه أحكام المادة 570 من قانون العقوبات العام، وهو القدح الذي يقع على أفراد عاديين ولا يستلزم شرط العلنية فيه، وقد سبق الإشارة إليه في بحث الذم.
        2-الركن المعنوي للقدح:
        يعتبر هذا الجرم من الجرائم العمدية فهو لا يقوم إلا بتوفر القصد الجرمي لدى الفاعل والقصد هنا قصد عام يندرج تحته عنصري العلم والإرادة فأما العلم فهو ثبوت علم الجاني أن ما يبديه من نشاط يحتوي ألفاظاً وعبارات وصور ورموز وكلمات وإشارات فيه مساس بكرامة وحياء وسمعة المجني عليه، ويقوم هذا العنصر متى ثبتت أن العبارات شائنة في حد ذاتها، وأما الإرادة فهي نية الفاعل وتوجهها إلى إحداث هذه الأفعال بالوسائل المشار إليها سابقاً.
        *-القدح المنصوص عليه بأحكام المادة 378 من قانون العقوبات العام: تستوجب هذه المادة ظرفاً مشدداً للعقاب، وهي تقع بمثل ما بيناه من أحكام أخرى سبق شرحها، والاختلاف كما اشرنا هو في حكم التشديد بسبب صفة المجني عليه، وعلاقة السببية ما بين وقوع فعل القدح من جهة وصلته بالوظيفة العامة من جهة أخرى.
        -فالقدح الواقع على رئيس الدولة عقوبته الحبس م شهر إلى سنة.
        -والقدح الواقع على المحاكم أو الهيئات المنظمة أو الجيش أو الإدارات العامة عقوبته الحبس حتى ستة أشهر.
        -والقدح الواقع على موظف ممن يمارسون السلطة العامة من أجل وظيفته أو صفته عقوبته الحبس حتى ستة أشهر.
        -والقدح الواقع على موظف ممن لا يمارسون السلطة العامة عقوبته الغرامة من خمس وعشرين إلى مائة ليرة سورية أو الحبس التكديري.
        وقد سبق شرح هذه الأحكام في بحث الذم، وبينا الفرق بين الموظف الذي يمارس سلطة عامة، والموظف الذي لا يمارس سلطة عامة، فيقتضي الرجوع إليها.
        الفصل الرابع
        الفرق بين الذم والقدح
        من يقوم بفعل الذم يسند إلى شخص المذموم واقعة معينة وينسب إليه أمراً محدداً ينال من شرفه أو كرامته، كمثل من عزا إلى أحد الناس فعل سرقة مال ما، أما القدح فيجوز بكل ما من شأنه المساس بقيمة الإنسان أو يحط من اعتباره عند غيره دون إسناد عيب معين إليه أو نسبة واقعة محددة، فمن يصف آخر بأنه محتال أو لص يعتبر فعله قدحاً لا ذماً، والفرق واضح فمن يذم فهو يعبر في ذمه عن أمر يعرفه أو يزعم معرفته عن الغير عن أمر يمكن أن يرجع إلى دائرة المعرفة في نفسه سواء أكانت هذه المعرفة مطابقة للحقيقة أم لا، أما من يقدح فهو يعبر عن شعوره تجاه هذا الغير بالحقد والبغض والازدراء.
        وهذان الوصفان للذم والقدح يتحققان بكل صيغة كلامية أو كتابية سواء وردت على سبيل التوكيد في الإسناد، أو رواية من الغير، أو بصورة تشكيكية أو بصيغة الاستفهام، ومن شأنها أن تعلق أذهان الناس بها ولو بشكل وقتي.
        ويستوي في الذم أو القدح أن يصرح الفاعل على أنه متحقق من أفعال الذم أ والقدح التي ينسبها إلى شخص بالذات وعالم به، أو أن يصرح به نقلاً عن الغير، أو يردده على سبيل الإشاعة.
        والقدح أو الذم يمكن أن يقع صراحة أو تلميحاً أو تعريضاً أو تورية أو تهكماً .
        وأخيراً فمتى كان يُفهم من العبارات أنها وُضعت للنيل من شخص ما، فإن هذا الفعل يكون معاقباً عليه
        الفصل الخامس
        في أسباب الإباحة
        هناك حالات تتعلق بجرائم النشر والمطبوعات والصحف ترد فيها أسباب الإباحة وبالتالي عند تحققها تعفي وتمنع من المسؤولية الجزائية بصدد هذه الجرائم.
        وسنعالج بعض هذه الحالات ومنها:
        أولاً :  حق النقد :
        يعتبر حق النقد من الأمور المباحة المنصوص عليها بأحكام الدستور، فالنقد يحقق وسائل معينة للمجتمع، فهو يحقق المصلحة العامة فيه ووسيلة لتطوره من خلال الكشف عن الأخطاء والعيوب القائمة. والنقد يقع أحياناً على تصرفات بعض الأشخاص الذين يقومون بأعباء الوظيفة أو السلطة العامة.
        والتفرقة بين الشخص وبين تصرفاته هي التي تعين دائرة ومجال النقد، فالقانون لا يحمي التصرفات، ولذلك فإن النقد لا يكون مباحاً إلا إذا كان بحسن نية أي خالياً من قصد التحقير أو التشهير.
        والنقد هو تعليق على تصرف وقع فعلاً، أو هو حكم على واقعة ثابتة أو مسلمة أو لم يقع عليها الإنكار.
        وفي تعريف آخر، هو إبداء الرأي في أمر أو عمل دون المساس بشخص صاحب الأمر أو العمل بغية التشهير به أو الحط من كرامته، فإذا تجاوز النقد هذا الحد،وجب العقاب عليه باعتباره مرتكباً لجريمة قدح أو ذم إهانة على حسب الأحوال.
        وهناك حالات يعتبر فيها هذا الحق جائزاً ومباحاً ولا يثير أية شبهة فيه، فقد يتناول فكرة معينة أو مذهباً من المذاهب، فإذا ما وقع النقد على هذه الفكرة أو المذهب حصراً واقتصر عليه بدون أن يتعرض لأشخاص أو أفراد تبنوا هذا المذهب أو الفكر وارتبطوا به فالإباحة متوفرة لأن شخصية هؤلاء لم يطالها النقد ولم تكن محل بحث إطلاقاً.
        كما يكون النقد مباحاً إذا تناول تصرفاً لأحد الأشخاص واقتصر عليه دون شخصية من ينسب إليه هذا التصرف، ووضع حكماً يشمل نوعاً من التصرفات.
        والنقد يتناول مجالات عديدة ومتنوعة، فقد يكون نقداً سياسياً، يسمح نظام الإدارة في البلد به وخاصة بوجود نظام سياسي قائم على التعددية الحزبية، والنقد التاريخي فهو يتناول شخصيات لها دور تاريخي، كما يتناول النقد المجال العلمي أو الأدبي أو المهني.
        شروط النقد المباح :
        هناك شروط إذا توفرت في الأسلوب النقدي اعتبر النقد مباحاً وغير معاقب عليه ولا يرتب أية مسؤولية جزائية وهي:
        1-الواقعة الثابتة والمعتقد بصحتها:
        ابعتبار أن النقد هو حكم على واقعة ثابتة وغير مذكرة، فليس من النقد المباح أن يعمد الفاعل إلى تزييف الحقيقة أو تشويهها، لأن وظيفة النقد أصلاً هي تحقيق المصلحة العامة، فاختراع واقعة مزيفة ثم التعليق عليها لا يعتبر من النقد المباح، وهو يستوجب المسؤولية عليه وليس من النقد أيضاً إنشاء أو إعلان واقعة لا يجيز القانون إنشاءها أو إعلانها مطلقاً أو لا يجيز القانون إفشاءها أو إعلانها إلا إذا كانت متعلقة بطائفة معينة من الناس وكانت صحيحة. لأن من يكشف لناس واقعة أو أمر تشين صاحبها، فهو لا يكون ناقداً بما تحويه هذه الكلمة، وكشف المستور مما لا يعلمه الناس من وقائع تمس كرامة وسمعة أحد الأشخاص لا يمكن أن يكون مباحاً على الإطلاق، ولا يمكن أن يكون موضع حق لكل إنسان أن يتناوله.
        أما عبارة الواقعة المعتقد بصحتها، فتحقق عندما يذكر الفاعل واقعة غير صحيحة، أو يذكر تعليقاً أو رأياً عليها غير دقيق، فإذا ما ثبت أنه كان يعتقد بصحة هذه الواقعة أو صحة الرأي الذي أبداه، وكن في عرضه للواقعة وإبدائه للرأي، نتيجة ما قام به من تحري للأمور، فإن فعله مباحا، لأنه لا يطلب من الفاعل أن يضمن بصورة مطلقة صحة ما ذكر من وقائع أو آراء. لأنه لو طبق عليه هذا الأمر لكان من المستحيل عليه أن يذكر واقعة لا يراودها الشك في صحتها.
        وإنما يتطلب القانون منه فقط بذل ما يطلب منه من سعة، في ما قام به من دراسة وتقصي عن هذه الواقعة وكانت هذه الفكرة أو الرأي نتيجة جهد عقلي وفكري بذله الشخص فأبداه بحسن نية.
        وهذه التقديرات في بذل الجهد والتقصي والبحث وإعمال الفكر المطلوب تعود إلى قاضي الموضوع الناظر بالدعوى.
        وهذا النطاق الواجب تطلبه في البحث والتقصي والدراسة وبذل الجهد هو نسبي يختلف من واقعة لأخرى ومن شخص لأخر.
        2-الرأي والتعليق :
        يعتبر النقد من قبيل الرأي أو التعليق المستند إلى واقعة ثابتة، وهذا الرأي في غير صالح المنقود وحق النقد يخول الناقد إبداء رأيه في تصرف الشخص الذي ينقده، فيعيب التصرف.
        فيجب أن يتصل الرأي دائماً بالواقعة التي يستند إليها وملازماً لها، لتكون الواقعة من الرأي بمثابة الأسباب من الحكم تشهد بصحته أو خطئه، فإذا ذكر الرأي بدون ذكر الواقعة المقررة التي تسنده فلا يعتبر عندئذ نقداً.
        وخطأ الرأي لا يخرج به الناقد من دائرة الإباحة، ولا يحق للقاضي محاسبة الفاعل على أساس رأيه هو في الموضوع، الذي عالج المتهم الكتابة فيه أو التعليق عليه، إنما المهم هو اعتقاد الناقد صحة ما يرى وعدم تجاوزه فيما يقول فيه أو يكتب عنه دائرة وحدود المعقول المنتظر من مثله في مثل ظروفه.
        3-الواقعة أو الموضوع يهم الجمهور:
        وكما ذكرنا فالنقد يؤدي دوراً اجتماعياً هاماً لدى الجمهور أو في المجتمع فيجب أن يكون الموضوع أو الواقعة الذي يعالجه الناقد يهم الجمهور ويتعرف على قيمتها، فإذا كان لا شأن ولا علاقة للجمهور به أو لا يفيدهم فلا يجوز الخوض به علناً بحجة النقد إذا كان مؤذياً، إذ لا يستفيد الجمهور والمجتمع ما يتناوله النقد من حياة الشخص الخاصة، والذي يحرص القانون على صون هذه الحرية والحياة الخاصة للأفراد.
        وقد تهم الواقعة عدداً معنياً من الجمهور، ولو لم تتصل بالمصلحة العامة اتصالاً مباشراً، وإنما يكفي أن تنعكس آثارها على عدد غير محدود من الجمهور فيحق لكل شخص أن يتناولها بالنقد والتعليق والرأي مثل عمل أرباب المهن كالأطباء والمحامين ورجال الدين والعلماء والمهندسين والتجار، وأمثال هؤلاء يهم الجمهور، بحكم حاجة الجمهور إليهم وبحكم أن هؤلاء يعرضون أعمالهم، فيجوز نقد تصرفات معينة لهؤلاء ونقد سلوكهم أو خلقهم من خلال هذه التصرفات الثابتة، بحسن نية وبقصد تحقيق المصلحة العامة.
        والنقد الموجه إلى أمثال هؤلاء إذا وقف عند حد إنكار المزايا أو المواهب، فلا مسؤولية عليه، ولكنه إذا نفى عنهم صفة أو أكثر من الصفات الأساسية لمباشرة الحرفة أو المهنة، فيخرج عن نطاق النقد المباح لمساسه بالاعتبارات المهنية.
        وكل ما يمس المصلحة العامة يهم الجمهور، فيصح أن يكون موضوعاً لاستعمال حق النقد كل ما يتعلق بالدولة والحكومة والمصالح العامة، والشؤون الإدارية والمالية والاقتصادية والاجتماعية، وكل ما يتعلق بالعلوم والآداب والفنون والمعارف.
        هذا وإن الاعتبار السياسي للشخص مباح للمناقشة والبحث والشك، لن هذا الاعتبار وإن كان حقاً لصاحبه، إلا أن طبيعة النظام الديمقراطي بهذا المجال، تجعل من المستحيل حماية الاعتبار السياسي بجزاء جزائي عقابي، لأنه لو فرضت هذه الحماية لتعطلت نظم الحكم الديمقراطي التي يقتضي سيرها الطبيعي ممارسة هذا الحق.
        وخلاصة القول في هذا المجال : إن كل ما يدخل ميدان السياسة ومن يدخل فيها يجب أن يكون محل المراقبة والمراجعة والنقد والانتقاد، إذ المصالح التي تزدحم في هذا الميدان من الأهمية والخطورة بحيث لا يمكن السهر عليها وإعطاءها حقها من الحماية والالتفات،مع تقييد حرية الألسنة والأقلام.
        بعض أنواع النقد :
        1-النقد في الحملات الانتخابية:
        يعتبر نقد المرشحين للانتخاب من ثمرات النظام الديمقراطي، فالانتخابات هي الفرصة الكبرى التي يتيحها هذا النظام للمناقشة العامة في الأشياء والأشخاص وما يهم المجتمع.
        أما النقد المعاقب عليه بهذا المجال فهو ما يقع على أحد المرشحين بقصد التأثير في عمليات الانتخاب ويكون ذلك بكذب يتناوله الفاعل على أشخاص هؤلاء، فيجب توفر القصد الخاص لدى الفاعل في هذه الحالة وهي أن يعتمد الكذب لتحقيق نتيجة معينة هي التأثير في نتائج الانتخابات.
        ولكي تُطبق هذه الحالة يجب أن يكون من وقع عليه الفعل مرشحاً.
        2-النقد الأدبي والعلمي:
        ويوجه هذا النقد إلى مختلف الآداب والعلوم وهذا المجال واسع جداً وتبدو حرية الناقد هنا غير محددة ما دام يبتغي تحقيق المصلحة العامة وبشرط ألا يمتد هذا النقد إلى خلق صاحب الفن الأدبي أو العلمي فيما لا صلة له بهذا الفن.
        3-النقد التاريخي:
        الشخصيات التي يتناولها التاريخ منها الأحياء ومنها الأموات، فإذا ما تناولت الأحياء قيدت حرية المؤرخ أو الناقد بمراعاة حق هؤلاء الذين مثلوا أدوارهم في تلك الحوادث ي أن يصان اعتبارهم الشخصي والمهني وشرفهم.
        أما الوقائع والأحداث المتعلقة بأموات، فحرية المؤرخ أو الناقد واسعة. ولكن إن كان ماضي الميت وإن كان ملكاً للتاريخ، إلا أنه لا يجوز أن يكون نهباً للافتراء، أما الوقائع الصحيحة فهي من حق التاريخ الذي ينبغي ألا يحرسه موت الميت.
        ولكن هناك من يرى أن حق نشر الوقائع الصحيحة المتعلقة بالمتوفى ليست مطلقة لأن هناك من ماضيهم لا يمكن أن يدخل في نطاق وحيازة التاريخ.
        4-العبارة الملائمة :
        يتوجب لكي يكون الكلام نقداً مباحاً أن يصاغ في صيغة ملائمة للموضع والغرض مع مراعاة قدر من التناسب المعقول، فلا يجوز أن يختفي تحت ستار النقد ألفاظ وعبارات فيها الشتائم أو التجريح أو التشهير، …. ومعيار الصيغة أو العبارة الملائمة هو ثبوت مرونتها لتعبير الناقد عن فكرته أو رأيه أو شعوره بحيث أنه لو استعمل غير هذه الألفاظ أو العبارات لكانت فكرته غامضة وغير معبرة وفق ما يريد منها، أولاً تحظى بتأثير أو قبول أو إقناع.
        لذلك يجب إيجاد حالة من التناسب بين الألفاظ والعبارات من حيث ما تحويه من معانٍ، وبين الواقعة أو الفكرة موضوع النقد.
        فإذا كانت عبارة النقد شديدة أو عنيفة لا تسندها الوقائع، أو تسندها وقائع غير ثابتة، فإن تعرض صاحبها للمسؤولية الجزائية أو المدنية حسب ظروف القضية.
        ويقع على عاتق قاضي الموضوع مدى تقدير حالة التناسب أو الضرورة ما بين العبارة والواقعة، فلا يجوز وضع قاعدة عامة لهذا الموضوع.
        5-حسن النية لدى الناقد:
        إن سند الإباحة في النقد هو حسن النية لدى الفاعل،إذا ما نظرنا إلى الوظيفة والمهمة التي يؤديها بحسن نية، فهو يمكن المواطنين من إعلان ما يعتقدون أنه الخير أو الصح فيما يهم الجمهور أو يعرض عليهم من أمور. وحسن النية يتألف من أمرين، أولهما: خدمة الصواب والصح، والنقد إذا اتبعت أصوله وتوفرت شروطه، كان بحد ذاته يؤلف خدمة عامة للجمهور، وإنما ينتفي هذا العنصر أن يكون مدعي النقد قد اتخذه وسيلة لخدمة باعث شخصي صرف كالانتقام أو التشفي أو التشهير أو الابتزاز.
        والعنصر الثاني هو اعتقاد الناقد صحة الرأي الذي يبديه، لا صحة الواقعة التي يؤسس عليها هذا الرأي،فيجب أن تكون الواقعة ثابتة.
        وإذا ما تخلف أحد هذين العنصرين لا يمكن القول بوجود النقد المباح، وتقوم المسؤولية بناءً على ذلك.
        الأصل في كل ناقد توفر حسن النية لديه وهذا يفترض على من يدعي سوء النية في النقد إثبات هذا القصد.
        ويتضح سوء النية من علم الشخص بكذب الواقعة التي يقيم عليها نقده المزعوم، كما قد يتضح من عنف العبارات عنفاً غير معقول، ومن عدم تناسب شدتها مع الموضوع أو الواقعة التي يجري عليها التعليق أو النقد، كما ويستفاد القصد السيئ من كل قرينة أخرى أو ظرف ظاهر يدل عليه كمحاولة الناقد الحصول على مال أو منافع مادية ممن ينتقد وقبيل نشر نقده، مبتزاً إياه. أو وجود عداوات مستحكمة شخصية بين الناقد ومن وقع عليه النقد.
        ثانياً :  حق نشر الأخبار:
        ما تؤديه الصحافة من دور كبير ف إعلام الأفراد بما يدور في المجتمع، فقد أباح المشرع في حالات معينة نشر الأخبار عن طريق الصحف والجرائد والمجلات والمطبوعات وغيرها، خاصة إذا كان ما تنشره يحمل الصفة الرسمية كالبيان الرسمي أو البلاغ أو الحكم القضائي ولو فضحت هذه المادة المنشورة أمراً شائناً لشخص ما، فلا تقوم جريمة فيما ينشر بشكل يطابق القانون وخاصة ما تقوم به الجريدة من نشر يكون ملزماً لها ويقع في نطاق أداء الواجب المفروض عليها قانوناً.
        وبناء على ما تقدم فإنه يجب توفر الشروط التالية ليعتبر نشر الأخبار مباحاً وهي:
        1-صحة الخبر:
        وهذه الصحة المطلوبة في الخبر المنشور تفيد المجتمع بكامله،إذ لو كان الخبر غير صحيح لتضرر المجتمع منه وفقد الغاية التي نشر من أجلها، وتتعدى صحة الخبر إلى صحة الواقعة التي يتضمنها بحد ذاتها، وصحيحة فيمن نسبت إليه، ويجب لهذه الواقعة أن تحقق مصلحة اجتماعية، ويخرج من نطاق ذلك نشر وقائع وأحداث تمس حياة البشر الخاصة لا تفيد المجتمع بأي شيء.
        2-موضوعية العرض:
        يقتضي هذا الشرط من كاتب أو ناشر الخبر أن يلتزم الموضوعية في الخبر فلا يدخل عليه أي كذب أو مبالغة أو يستعمل عبارات توحي للجمهور بأمور خلاف ما يتضمنه هذا الخبر وينعكس على فهمهم له بشكله الصحيح، مما يفقد نشر الخبر الغاية الاجتماعية من نشره.
        3-توفر حسن النية لدى الناشر:
        أي قيامة بالنشر أو الكتابة للخبر بما يحقق غايته وهدفه الاجتماعي ولا يكون يقصد الانتقام أو التشهير أو التشفي أي يجب ألا يقتصر النشر للخبر على تحقيق غايات وأهداف شخصية لدى الفاعل.
        ثالثاً:  الذم الواقع على موظف المتعلق بالعمل الوظيفي وثبوت صحته:
        يعالج نص المادة 377 من قانون العقوبات حالة الإباحة في الذم الواقع على موظف، وكان موضوع الذم عملاً ذا علاقة بالوظيفة مع ثبوت صحته، ونص هذه المادة هو:
        “في ما خلا الذم الواقع على رئيس الدولة، يبرأ الظنين إذا كان موضوع الذم عملاً ذا علاقة بالوظيفة وثبتت صحته”.
        يستند هذا المبدأ في إباحة الذم بهذه الحالة على مبدأ وحماية الحق، فالفعل الذي يعاقب عليه القانون ويعتبره جرماً، يعتبره في الوقت نفسه قد صان حقاً آخر يرتفع ويسمو في قيمته الاجتماعية على الحق الذي أهدره، وبذلك يعتبر أنه الأولى بالراية  والحفظ .
        فالموظف العام المكلف بالقيام بخدمة عامة يقوم بأعمال ذات صفة وأهمية اجتماعية كبيرة يؤديها للجمهور، ومن المصلحة الحقيقية أن تؤدي هذه الخدمة بوجهها الصحيح، فلا بد من إباحة ما يقع من كشف للأخطاء والأساليب المتبعة لتحقيق هذه الخدمة، لينبه الدولة إلى تفادي أخطاء وأخطار محتملة تنعكس على المجتمع، ولتمارس حقها في تأديب الموظف المسؤول عن الأفعال المخلة بالمصلحة أو الخدمة التي يؤديها، ويأتي رجحان تحقيق المصلحة الاجتماعية أهم من شرف واعتبار الموظف المخل بعمله خاصة وأن القيمة الاجتماعية لشرفه هبطت نتيجة قيامه بفعله المخل بالمصلحة العامة.
        ويمكن إرجاع الإباحة في نص المادة المذكور إلى شروط يجب تحققها فيها وهي:
        1-الصفة الوظيفية لمن وقع عليه الفعل:
        فيجب لمن وقع عليه فعل الذم أ ن يكون موظفاً عاماً، ولم يفرق المشرع بهذه الحالة بين الموظف الذي يمارس السلطة العامة، والموظف العادي الذي لا يمارسها، فأعطى نفس الحكم للاثنين. وإذا ما انتفت هذه الصفة الوظيفية لدى المجني عليه امتنع تطبيق نص هذه المادة بالإباحة المقررة للفاعل لانتفاء ركن أساسي من أركان الإباحة وفي معرض قيامه بها.
        2-وجود علاقة ما بين الذم الحاصل والعمل الوظيفي:
        وهذا الشرط يقضي بألا يتعدى الذم حدود أعمال الموظف التي لها علاقة بوظيفته، لأن للموظف أعمال غير متصلة بالوظيفة ولا علاقة لها بها، فلا تطالها أسباب الإباحة للذم الواقع عليها لأنه يعتبر عندئذ فرد عادي وليس موظفاً عاماً.
        التفريق بين شؤون وحياة الموظف الخاصة، وبين شؤون وأعمال وظيفته، قد يجد صعوبة بسبب ما تقوم بينهما من صلة أحياناً، فيجوز الذم بما يتناول هذا الجزء المشترك الذي يتعلق بأعمال الوظيفة ويقع على عاتق القضاء مهمة استخلاص واستنتاج وتقدير هذه الصلة ومداها.
        وتمتد أيضاً علة الإباحة بالذم على ما يقع من أفعال وأعمال تتعلق بوظيفته حتى ولو كانت خارج عمله ووظيفته.
        3-ثبوت وقائع الذم المسندة بحق الموظف:
        وهذا الإباحة في إثبات هذه الوقائع تعتبر استثناء من النصوص والمواد المتعلقة بالذم والقدح، وهذا الاشتراط في جواز إثبات الوقائع ما هو إلا تسهيل للسلطات في تحققها من قيام الموظف بواجبه أم لا وبالتالي تمارس رقابتها ودورها في تصحيح الأخطاء.
        ويترتب على هذا المبدأ أن يقوم المدعي عليه الجاني بتقديم أدلة الإثبات إلى المحكمة المتوفرة لديه وعليه عبئ الإثبات، علماً أن إثبات وقائع الذم بهذه الحال جائز بكل وسائل الإثبات باعتبارها من الوقائع المادية.
        4-توافر حسن النية لدى الفاعل:
        فهو يقوم بهذا الفعل استناداً لمبدأ حسن النية لديه أي اعتقاده بصحة ما ينسبه من وقائع لهذا الموظف، مع قصده تحقيق المصلحة الاجتماعية العامة، من وراء فعله، دون قصد التشهير.
        ويستند مبدأ حسن النية لدى الفاعل على ما يبيحه القانون له في إعطائه الحق برقابة عمل الموظف وبيان الخلل والأخطاء فيه، والتنبيه إليه، وهو بذلك يحقق الغاية التي من أجلها أباح المشرع هذا الفعل.
        رابعاً :  تأدية الشهادة في مجلس القضاء:
        هذا الواجب نص عليه المشرع وجعله سبباً من أسببا الإباحة معلناً أن الشاهد حينما يؤدي شهادته فيما إذا دُعي أمام القضاء فهو يُعين القضاء على استجلاء ووضوح بعض الأمور التي تساعد القضاء على معرفة الحقيقة والحكم من خلالها، فالشاهد يؤدي وظيفة اجتماعية تعود بالنفع العام على المجتمع وهذه الوظيفة المؤداة ترجح على مصلحة من تسند إليه الواقعة.
        أما الشروط المطلوب توفرها لإعمال سبب الإباحة فهي:
        1-تقرير صفة الشاهد:
        وذلك يعني أن يكون الشخص المباح له، قد كلف أداء الشهادة ودُعي عن طريق القضاء بصفة شاهد على واقعة ما. ولا فرق في القضاء أن يكون مدني أو جزائي أو إداري وبمختلف دوائره ودرجاته.
        2-التزام الشاهد عند أدائه الشهادة بحدود الواقعة المطلوب الشهادة عنها:
        وعدم الخروج عن الأهداف الاجتماعية التي يبتغيها في شهادته، فعليه الشهادة ضمن نطاق الدعوى وحدود الوقائع التي كلف الشهادة لأجلها ومن خلالها.
        3-توافر حسن النية لدى الشاهد:
        فإذا ما كان الشاهد يستعمل الحق الممنوح له بالإباحة فيجب توفر حسن النية لديه عند أدائه لهذا الحق، ويتجلى حسن النية في فهم الشاهد أن وظيفته من خلال شهادته هي معاونة القضاء على كشف الحقيقة، موضوع الإثبات بالشهادة.
        خامساً :  حرية الدفاع والمرافعة أمام القضاء:
        تنص المادة 407 من قانون العقوبات العام على ما يلي:
        “لا تترتب أية دعوى ذم أو قدح على الخطب والكتابات التي تلفظ أو تبرز أمام المحاكم عن حسن نية، وفي حدود الدفاع القانوني”.
        هذه المادة تعتبر سبباً تبريرياً لما يبديه الخصم من مرافعات شفهية أو كتابية أمام القضاء فيما إذا تحقق فيها أحكام المادة 407 عقوبات.
        هذا وإن حق الدفاع، حق مقدس كفلته كافة دساتير العالم، وجعلت هذا الحق مصوناً في جميع مراحل الدعوى وأمام جميع المحاكم. ولا يمكن ممارسة هذا الحق إذا لم يكن كل طرف بالدعوى يشعر بكامل الحرية في دفاعه عن نفسه وعن حقوقه، وفي ذكر كل ما يؤدي دفاعه وبراءته أو ادعاءه تجاه ما هو موجه إليه  بصورة عامة وتجاه حضوره في الدعوى.
        وهذه الإباحة وضعت للخصوم، منعاً من الخوف الذي من شأنه أن يضر بحقوقهم ويمنعهم كذلك من ذكر وقائع وأوصاف قد تكون نافعة لهم في دفاعهم عن أنفسهم ومؤيدة لأقوالهم، إذ أن وجود مثل هذا الخوف يؤدي إلى هدر الحقوق والتأثير على المجتمع الذي تتمثل مصالحه في حسن إقامة العدالة، وتمكين كل إنسان من الدفاع عن نفسه بصورة حرة.
        ونص المادة المذكورة مأخوذ من الفقرة الأخيرة من المادة 41  من قانون الصحافة الفرنسي.
        والدستور السوري كغيره أقر هذا المبدأ حينما ينص على ما يلي:
        ” حث التقاضي وسلوك سبل الطعن والدفاع أمام القضاء مصون بالقانون”.
        علماً أن هذه الحصانة تشمل الخصوم ومحاميهم والخبراء والشهود والقضاة.
        فالبعض قال بهذا الرأي معتبراً أن النص عام، والبعض الآخر يخالف هذا الرأي باعتبار أن النص لا يشملهم بلفظه.
        لكن الفقهاء متفقون على عدم معاقبة القضاة لأنهم يقومون بواجب أمر به القانون.
        وقضاة النيابة يعتبرون خصوم في الدعوى العامة، لذلك لا يسألون كالخصوم، لأنهم كالموظفين يقومون بأعباء واجب قانوني.
        ولكي نستطيع تطبيق نص المادة 407 عقوبات يجب توفر الشروط التالية:
        1-أن يكون القدح أو الذم صادراً عن نية حسنة، أي ألا يكون صاحبه قصد منه الإساءة للآخرين أو قصد تجريح الحقيقة، وهو أمر تستقل بتقديره المحكمة.
        2-أن يكون القدح أو الذم صادراً في حدود الدفاع القانوني، فإذا تعدى هذه الحدود، كان الفاعل مسؤولاً.
        3-أن يكون القدح أو الذم صادراً ضمن جلسة قانونية قائمة، فإذا لم تكن قد بدأت أو أن رئيس الجلسة رفعها للاستراحة أو التأجيل أو المذاكرة، ووجه أحد الخصوم كلاماً من نوع القدح أو الذم فإنه يعتبر مسؤولاً عن فعله ولا تطبق بحقه أحكام المادة 407 بالتالي فالمسؤولية الجزائية تطاله.
        وهذا التبرير يشمل استدعاء الدعوى، على الرغم من كونه يسبق قيام الدعوى لأنه بهذا الاستدعاء يتم افتتاح الدعوى الذي يتضمن طلبات المدعي أو الشاكي. ولكن يشترط أن يكون الطلب جدياً وغير مقدم بقصد التستر بستار القانون والطعن والتشهير بالخصم دون عقاب.
        إلا أنه من واجب المحكمة ألا تشدد مع الذين لا يخرون كثيراً عن حدود المعقول، خشية تعطيل النص وإيقاع الخوف في قلوب الناس، ويمكن أن تأمر بكل الأحوال بحذف الألفاظ المؤذية من ضبط الجلسة أو المذكرة الكتابية أو المرافعة الشفهية.
        والمشرع السوري حين يسقط الدعوى الجزائية، لا يقبل من المشتكي الذي رُدت دعواه الجزائية بتهمة الذم أو القدح، أن يقيم الدعوى المدنية، لأنه لا يُعقل أن يظل الفاعل مهدداً بدعوى مدنية إذا مارس حقاً، كالخصم في الدعوى، أو قام بواجبه فيما يفرضه القانون عليه.
        الفصل السادس
        جريمة التحقير
        تناول هذا الموضوع نص المادتين 373 و 374 من قانون العقوبات العام.
        فتنص المادة 373 على ما يلي:
        1-” التحقير بالكلام والحركات أو التهديد الذي يوجه إلى موظف في أثناء قيامه بالوظيفة أو في معرض قيامه بها أو يبلغه بإرادة الفاعل.
        والتحقير بكتابة أو رسم لم يجعلا علنيين أو مخابرة برقية أو تلفونية إذا وجه إلى موظف في أثناء قيامه بوظيفته أو في معرض قيامه بها.
        يعاقب عليه بالحبس مدة لا تزيد على ستة أشهر.
        2-إذا كان الموظف المحقر ممن يمارسون السلطة العامة، كانت العقوبة من شهرين إلى سنة.
        3-وإذا وقع التحقير بالكلام أو الحركات أو التهديد على قاضٍ في منصة القضاء، كانت العقوبة الحبس من ستة أشهر إلى سنتين”.
        ونص المادة 374 هو:
        1-“من حقر رئيس الدولة عوقب بالحبس من ستة أشهر إلى سنتين.
        2-يفترض العقوبة نفسها على من حقر العلم أو الشعار الوطني علانية بإحدى الوسائل المذكورة في المادة 208″.
        هاتين المادتين وضعتا لنفس الغاية التي من أجلها وضعت نصوص المواد المتعلقة بالقدح والذم والغاية منهما حماية شخص الموظف من كل تأثير خارجي يقع عليه، يؤثر على عمله وأدائه بما ينعكس على الدولة والمجتمع، وهذه الحماية ليست امتيازاً بقدر ما هي من متطلبات سير الإدارة الوظيفية في البلد وابتعادها عن المؤثرات.
        والتحقير كما سبق أن عرفناه وفق ما ورد بإحدى قرارات محكمة النقض بأنه نسبة عيب أو أمر غير معين، ينال من شرف من وجه إليه، أو يحط من كرامته.
        والتحقير حسب رأينا يأتي في الشدة بعد القدح والذم فيعتبر نوعاً ما شبيهاً بهما إلاأنه ترافقه الشدة في الألفاظ والحركات بشكل أكثر.
        وأنواع التحقير الواردة بالمادتين المذكورتين بالنسبة إلى صفة المجني عليه هي:
        أ-التحقير الموجه إلى موظف عام لا يمارس السلطة العامة.
        ب-التحقير الموجه إلى موظف ممن يمارسون السلطة العامة.
        ج-التحقير الموجه إلى قاضٍ على منصة القضاء.
        د-التحقير الموجه إلى رئيس الدولة.
        هـ-التحقير الموجه إلى العلم أو الشعار الوطني.
        أركان هذه الجريمة:
        1-الركن المادي:
        هو إبداء نشاط مادي من قبل الفاعل يتضمن معاني التحقير التي تنال من شرف المجني عليه وتحط من كرامته واعتباره بإحدى الوسائل الوارد ذكرها وهي إما بالكلام أو الحركات أو التهديد أو الكتابة أو الرسم أو عن طريق المخابرة البرقية أو التلفونية، ويشترط لقيام هذا الركن ألا يكون للمجني عليه أية صلة في حدوثه كأن يكون الاستفزاز واقعاً من قبله أولاً أو يكون هو الذي بدأ بنشاط فيه صفات التحقير بإحدى الوسائل المذكورة.
        والتهديد قد يقع أيضاً بالإشارة أو القول أو الكتابة.
        ويقع على عاق القضاء عبء استخلاص هذا الركن ومدى توفر شروطه من خلال النشاط الذي أبداه الفاعل من أفعال التحقير أو التهديد ومن ظروف وملابسات الدعوى الناظر فيها.
        فقد قضي بأنَّ:
        -الاستدلال على التحقير من الألفاظ العامة متروك إلى محكمة الموضوع .
        -وتحقير الموظف يقع في حضوره كما في غيابه
        -إن البادئ بالاعتداء غير مشمول بالحماية الشديدة للموظف التي نص عليها القانون وذلك أثناء قيامه بوظيفته أو في معرض قيامها
        -إن الحكم بالإدانة الصادر بجريمة تحقير رئيس الدولة يجب أن يشتمل على ألفاظ التحقير، وهي الركن المادي للجريمة، حتى تتمكن محكمة النقض من مراقبة صحة تطبيق القانون على الواقعة، ولا يكفي مجرد القول أنه – شتم رئيس الدولة
        2-صفة من وقع عليه الجرم:
        يجب أن يكون موظفاً عاماً أو موظفاً يمارس السلطة العامة أو قاضٍ أو رئيس الدولة أو العلم أو الشعار الوطني.
        وقد سبق وبينا الفرق ما بين حالتي الموظف في هذا المجال. وعليه لا يقع الفعل ما لم يتناول أحد هؤلاء الأشخاص شخصياً لأن القانون أورد ذكرهم بشكل واضح وصريح.
        وقد قضي بناءً على ذلك:
        -تحقير زوجة ضابط ليس فيه تحقير للجيش
         -إن جرم تحقير الجيش غير مشمول بأحكام المادتين 373 و 374 من قانون العقوبات لأنهما تتعلقان بالأشخاص والرموز المجسدة فهما تخرجان من هذه الفئة
        2-وقوع أفعال التحقير أو التهديد أثناء تأدية الوظيفة أو بسببها:
        فهذه المواد لا تحمي الموظف حين وقوع الفعل عليه ما لم يكن له صلة بوظيفته أو أثناء عمله الوظيفي، لأن المشرع لم يقصد بالعقاب على هذه الجريمة إنشاء امتياز شخصي لمصلحة بعض الأفراد، وإنما كانت غايته احترام سلطة الوظيفة الموكولة إلى من وقع عليه الفعل.
        وإذا ما كانت هذه الجريمة لا تقوم إلا إذا كانت موجهة شخصياً لمن ورد ذكرهم، وهي بالتالي لا تشمل الوظيفة في ذاتها بصرف النظر عمن يقوم بها.
        والتحقير الموجه إلى موظف أثناء تأديته وظيفته يتحقق عندما يؤدي عملاً داخلاً في حدود اختصاصه وشؤون وظيفته، وهذا لا يعني إطلاقاً أن الموظف إذا لم يكن موجوداً في المكان المخصص لعمله الذي يباشر فيه شؤون وظيفته غائباً عن عمله ولا يعتبر في هذه الحالة التحقير الموجه إليه أثناء وظيفته بل على العكس تعتبر هذه الجريمة قائمة في أي مكان يقوم فيه بعمل من أعمال هذه الوظيفة.
        والتحقير الموجه لموظف بسبب وظيفته هي كل فعل يدخل ضمن هذا الوصف ويقع على موظف ما يتعلق بعمل من أعمال وظيفته.
        وقد قضى بناءً على ما تقدم:
        -على المحكمة التحقق من توافر العناصر القانونية لجريمة تهديد الموظف المعاقب عليها بالمادة 373 عقوبات ومن التحري فيما إذا كان يملك صلاحية إجراء التفتيش والتحري، وهل هو مكلف بالمهمة بشكل رسمي أم لا ، تحت طائلة النقض.
        إذا كان الموظف القائم بهدم بناء المدعي عليه ليس هو المكلف بذلك فإن النزاع معه يكون عادياً ولا علاقة له بالوظيفة
        -يتعين على المحكمة البحث في مشروعية محاولة دخول عناصر الأمن لدار المدعي عليه بعد منتصف الليل قبل البحث في جرم ممانعته لهذه العناصر
        4-عدم تضمن الفقرة الأولى من المادة 373 عقوبات أي مؤشر إلى اشتراط العلنية أم عدم العلنية في الأفعال المشكلة لجرم التحقير وهي الكلام أو الحركات أو التهديد، أما الفقرة الثانية منها أوردت وسائل التحقير وهي الكتابة أو الرسم أو مخابرة برقية أو تلفونية ثم أتبعتها بعبارة – لم يجعلا علنيين – مما يعني أن شرط العلنية في هذه الفقرة غير لازم لوقوع الفعل.
        والرأي لدينا أن الفقرة الأولى يستنتج منها شرط العلنية خاصة وأنها أوردت الوسائل وهي الكلام والحركة والتهديد وهي وسائل تقتضي غالباً وجود العلنية بخلاف الكتابة والرسم اللذين من الممكن أن لا يكونا علنيين.
        5-نص الفقرة الثالثة من المادة 373 عقوبات عام:
        وهي تنظم أحكام التحقير بالكلام أو الحركات أو التهديد الواقعة على قاضي يتولى منصة القضاء، وهي حالة أشد جسامة مما سبقها من الأفعال لذلك اعتبر المشرع ظرف المكان وصفه المجني عليه ركناً مشدداً للجريمة يستوجب العقوبة المشددة وهي الحبس من ستة أشهر إلى سنتين، وهذا النص لا يعاقب على أفعال التحقير بالكتابة إذا وقعت أثناء الجلسة بل تقع هذه الجريمة بالكلام أو الحركات دون غيرها.
        ويشترط أيضاً لوقوع هذا الجرم وقوعه على قاضي أثناء انعقاد الجلسة، ولا فرق بين محاكم عادية أو استثنائية أو غيرها، كما لا يفرق بين كون هذه الجلسة سرية أو غير سرية، والتحقير قد يقع بحق أحد أعضاء المحكمة شخصياً أو بحق هيئة المحكمة كاملة، أو بعض أفرادها.
        العقوبة المحددة لكل حالة من هذه الحالات:
        -التحقير الموجه إلى موظف عام لا يمارس السلطة عقوبته الحبس مدة لا تزيد على ستة أشهر.
        -التحقير الموجه إلى موظف عام ممن يمارسون السلطة العامة، عقوبته الحبس من شهرين إلى سنة.
        -التحقير الموجه إلى قاضي على منصة الحكم عقوبته الحبس من ستة أشهر إلى سنتين.
        -التحقير الموجه إلى رئيس الدولة عقوبته الحبس من ستة أشهر إلى سنتين.
        -التحقير الموجه إلى العلم أو الشعار الوطني علانية عقوبته الحبس من ستة أشهر إلى سنتين.
        -وقد سبق أن شرحنا حالتي رئيس الدولة والعلم والشعار الوطني أثناء بحث القدح والذم الواقع عليهم، وينطبق عليهم هناك من حيث الوقائع.
        الفصل السابع
        تحقير أو ذم دولة أجنبية أو عملها أو شعارها الوطني أو رئيسها أو ممثلها الدبلوماسي
        تناول هذا عنوان المادة 282 من قانون العقوبات العام الذي ورد فيه ما يلي :
        ” يعاقب بالعقوبات نفسها بناء على شكوى الفريق المتضرر من أجل الجرائم التالية:
        -تحقير دولة أجنبية أو جيشها أو عملها أو شعارها الوطني علانية.
        -تحقير رئيس دولة أجنبية أو وزرائها أو ممثلها السياسي في سورية.
        -القدح أو الذم الواقع علانية على رئيس دولة أجنبية أو وزرائها أو ممثلها السياسي في سورية.
        -لا يجوز إثبات الفعل الذي كان موضوع الذم”.
        رغبة من المشرع بعدم حصول أزمات دبلوماسية بين الدول السورية ودول أخرى فقد عالج هذا النص الموضوع فجرم أفعال التحقير أو القدح أو الذم الواقعة على رئيس أية دولة أجنبية أو وزرائها أو ممثليها السياسيين في سورية أو عملها أو شعارها الوطني أو اعتبار الدولة الأجنبية نفسها.
        وإذا ما كنا ندرج نص هذه المادة معتبرين أن الأفعال الجرمية الواردة فيه لا تتم إلا بواسطة القدح والذم والتحقير علانية فهي تعتبر من قبيل جرائم الصحافة أو المطبوعات، وإن كانت واردة في صلب قانون العقوبات العام.
        وقبل بحث أركان هذا الجرم، يمكن إبداء بعض الملاحظات التالية عليه:
        -يعتبر المشرع السوري هذا الجرم يدخل في عداد الجرائم المخلة بأمن الدولة السورية الخارجي لأن هذا النص ورد تحت عنوان ( الجرائم الماسة بالقانون الدولي)، بين دفتي قانون العقوبات.
        -ولا يتوجب لوقوع الجرم تطبيق هذا النص وإنما يجب العودة إلى المادة 284 من قانون العقوبات، التي نصت علي ما يلي:
        ” لا تطبق أحكام المواد 279 إلى 283 إلا إذا كان في قوانين الدولة ذات الشأن أو في الاتفاق المعقود معها، أحكام مماثلة”.
        لذلك يجب توفر أحكام مماثلة لهذا النص في تشريعات الدولة الأجنبية ذات الشأن التي وقع عليها الفعل لكي نستطيع تطبيق نص المادة 282 عقوبات، فالمشرع يحمي سيادة وهيبة الدولة الأجنبية ورئيسها وعلمها وشعارها ووزرائها وممثليها السياسيين، بقدر ما تحمي هذه الدولة الأجنبية رئيس ووزراء وممثلي وعلم وشعار الدولة السورية من هذه الأفعال، وهو ما يمكن تسميته بمبدأ المعاملة بالمثل أو مبدأ المقابلة.
        وهذه التشريعات المماثلة لدى الدولة الأجنبية إما أن ترد في تشريعاتها الداخلية أو في معاهدات واتفاقيات دولية تعقد بين هذه الدولة الأجنبية والدولة السورية.
        يتوجب لقبول هذه الدعوى تقديم الشكوى من قبل الفريق المتضرر، ويمكن أن تقدم هذه الشكوى بالطرق الدبلوماسية أو بشكل عادي.
        أركان الجريمة :
        أولاً :  الجريمة المنصوص عليها في الفقرة الأولى:
        1-الركن المادي:
        يتطلب هذا الركن وقوع فعل التحقير الذي لم يورد المشرع السوري تعريفاً له، وهو بكل حال يعني مدلولاً عاماً يشمل كل ما من شأنه المساس بالكرامة والشرف والاعتبار.
        وقد ورد في اجتهاد محكمة النقض في حكم لها صادر بتاريخ 31/12/1975 بالطعن أساس 1381 حددت فيه بعض الصفات والتعريفات لكلمة التحقير، فورد بهذا الطعن ما يلي:
        ” إن عبارة – يلعن أبوك وأبو اللي وظفك – التي توجه إلى موظف، تشكل جرم القدح، وليس جرم التحقير، لأن التحقير هو نسبة عيب أو أمر غير معين ينال من شرف من وجه إليه أو يحط من كرامته، أما ألفاظ السباب التي تشف عن التحقير دون نسبة أمر أو واقعة محددة أو غير محددة، فتشكل جرم القدح المعاقب عليه بالمادة 378 عقوبات”.
        وبذلك فإن التحقير أوسع معنى ومدلولاً من القدح والذم، فكل قدح أو ذم يشكل تحقيراً، والعكس ليس صحيحاً.
        فالتحقير يشمل الذم والقدح وكل إشارة أو عبارة أو حركة أو رسم أو كتابة أو تهديد يحط من قدر من وجه إليه أو مكانته، أو يقلل وينتقص من كرامته في نظر الناس ولو لم يتضمن إسناد وقائع أو أمور معينة.
        2-أن يكون هذا التحقير واقعاً على دولة أجنبية أو جيشها أو علمها أو شعارها الوطني علانية:
        فالدولة الأجنبية هي كل دولة استكملت مقومات بنائها وتكوينها وفقاً لأحكام القانون الدولي العام وهي معترف بها من قبل الدولة السورية ولا يوجد بينهما حرب أو حالة حرب وشيكة.
        والمقصود بجيش الدولة الأجنبية فهو مجموع القوى المسلحة التي تدافع عن هذه الدولة والمؤلفة من وحدات عسكرية ومؤسسات ومديريات تابعة بجميعها لوزارة الدفاع.
        والعلم هو الرمز والشكل المحدد ويميز كل دولة عن غيرها وذو ألوان معينة، وهو يشكل مدلولاً ورمزاً من رموز سيادة الدولة ذو مدلولات معينة ويعد أيضاً رمزاً من رموز مبادئ، وأفكار وأهداف الدولة .
        ويحب أن يستهدف التحقير وينصب على ذات وشخصية الدولة أو جيشها، وقد يتخذ التحقير الموجه إلى علم أو شعار الدولة الوطني بوسيلة فعل مثل طرحه أرضاً والدوس عليه بالأقدام أو تمزيقه وإشعاله والتحقير لا يمكن العقاب عليه إذا ظل في مكنونات النفس وخفايا القلوب فيجب أن يقع علانية لكي يتحقق ركنه المادي، والعلانية ورد الأمثلة عليها بنص المادة 208 من قانون العقوبات ومن هذه الوسائل ما ورد ذكرها وفق ما يلي:
        -الأعمال والحركات إذا حصلت في محل عام، أو مكان مباح للجمهور أو معرض للأنظار، أو شاهدها بسبب خطأ الفاعل من لا دخل له بالفعل.
        -الكلام أو الصراخ سواء جهر بهما أو نقلا بالوسائل الآلية بحيث يسمعهما في كلا الحالين من لا دخل له بالفعل.
        -الكتابة والرسوم والصور اليدوية والشمسية والأفلام والشارات والتصاوير على اختلافها إذا عرضت في محل عام، أو مكان مباح للجمهور، أو معرض للأنظار، أو بيعت أو عرضت للبيع أو وزعت على شخص أو أكثر.
        وهذه الوسائل من العلنية لا يقوم الفعل إلا إذا جرى من خلالها أو بما يماثلها، ويعود تقدير هذه المماثلة أو القياس لقاضي الموضوع ولكل حالة على حده.
        3-الركن المعنوي :
        يكفي لقيام هذا الجرم ثبوت القصد الجرمي العام فقط، وهو يتجلى في انصراف إرادة الفاعل إلى ارتكاب الفعل المادي المؤلف للجريمة وذلك بإهانة الدولة الأجنبية أو جيشها أو علمها أو شعارها الوطني علنية، فيهدف من وراء ذلك إلى الحط من قدر وكرامة واعتبار الدولة الأجنبية أو جيشها أو علمها أو شعارها الوطني ، مع نشر وإنشاء وإذاعة هذا التحقير ليحقق مدلول العلنية فيه من خلال قصد الفاعل استخدام إحدى وسائل العلنية.
        ثانياً :  الجريمة المنصوص عليها في الفقرة الثانية:
        1-الركن الأول:
        وهو وقوع فعل من أفعال التحقير وهذا الركن لا يختلف عما سبقه من شرح للفقرة الأولى.
        2-وقوع فعل التحقير على أحد هؤلاء وهم رئيس أو وزراء إحدى الدول الأجنبية أو ممثلوها السياسيين في سورية.
        فلكي يعتبر جرماً، التحقير الواقع على رئيس دولة أجنبية يجب الاعتراف برئاسته من قبل الدولة السورية وكلمة رئيس الدولة هي مدلول يشمل الملك والحاكم وكل التعابير السياسية المتعلقة بهذا المنصب.
        والتحقير الواقع بهذه الحال، قد يشمل الحياة الخاصة أو العامة لهذا الشخص.
        والتحقير الواقع على الوزير يشمل رئيس الوزراء وأعضاء وزارته وهذا أيضاً تعبير سياسي قد تختلف تسميته من بلد لآخر حسب طبيعة الحكم والنظام فيه، فتعبير الوزير الأول في بعض البلدان يعني رئيس الوزراء في بلدان أخرى.
        والممثلون السياسيون في سورية هم فوق تصنيفاتهم السفراء ومندوبو الباب فوق العادة والسفراء البابويون، والمبعوثون أو المندوبون والوزراء المفوضون والسفراء البابويون بالنيابة والوزراء المقيمون والقائمون بالأعمال.
        وعبارة الممثل السياسي تشمل هؤلاء جميعاً، وبشرط أن يكون معتمداً لدى الدولة السورية.
        وفعل التحقير الموجب للتجريم قد يقع على الحياة الخاصة أو العامة لهؤلاء الممثلين السياسيين على السواء.
        وهذه المادة لا تشمل زوجات أو أولاد أو أباء أو باقي أفراد أسرتهم، وإنما تتناول الحماية شخصية هؤلاء فقط.
        3-الركن المعنوي:
        ويقوم بتوفر القصد الجرمي العام وفق ما ورد بشرح الفقرة الأولى لهذه المادة وقد ألحق بنهاية الفقرة الأولى السابق ذكرها كلمة  ( علانية ) أي أن فعل التحقير يستلزم لكي يكون معاقباً عليه أن يقع علنية، لكن هذه الفقرة الثانية التي نحن بصدد شرحها لم يرد كلمة علنية وإنما اكتفى المشرع بإيراد فعل التحقير على هؤلاء الأشخاص فهل يعتبر ذلك من قبيل السهو أم أن هذا الموضوع من البداهة ألا يذكر لأن التحقير يجب أن تلازمه العلنية، أم أن هناك عطفاً ضمنياً بنص هذه الفقرة التي سبقتها.
        وإذا ما كنا نتمسك بحرفية النص لتوجب القول أن العلنية في هذه الجريمة ليست شرطاً من شروط قيامها، لعدم تحميل النص أكثر مما يجب.
        ثالثاً :  الجريمة المنصوص عليها في الفقرة الثالثة:
        1-الركن الأول وهو :  الركن المادي:
        وقوع فعل من أفعال القدح أو الذم:
        *فالقدح :
        هو كل لفظه ازدراء أو سباب، وكل تعبير أو رسم يشفان عن التحقير، إذا لم تكن اللفظة أو التعبير أو الرسم تنطوي على نسبة أمر ما، وذلك دون التعرض لأحكام المادة 373 التي تتضمن تعريف التحقير، وهذا التعريف ورد بنص الفقرة الثانية من المادة 375 من قانون العقوبات تحت عنوان ( في الذم والقدح ).
        والذم فهو نسبة أمر إلى شخص ولو في معرض الشك أو الاستفهام ينال من شرفه أو كرامته بحسب تعريفه بنص الفقرة الأولى من المادة 375 عقوبات عام.
        2-أن يكون الشخص الواقع عليه أحد أفعال القدح أو الذم هو رئيس دولة أجنبية أو أحد وزرائها أو ممثلها السياسي في سورية:
        وهذا الموضوع يعطي نفس الشرح الوارد في الفقرة الثانية من المادة 282 عقوبات.
        3-تحقق العلنية في فعل القدح أو الذم:
        وقد سبق الشرح من خلال الفقرة المماثلة لهذا الركن.
        4-الركن المعنوي:
        يكفي توفر القصد الجرمي العام وهو قصد النيل من كرامة وشرف واعتبار من وقع الفعل عليه مع قصد تحقيق العلنية عن طريق النشر والإذاعة بإحدى وسائل العلنية المعروفة.
        وبالتالي فلا عبرة للباعث أو الدافع لارتكاب هذا الفعل ولا تأثير له عليه.
        أما نية تحقيق الفعل والنتيجة لدى نفس الفاعل فتستشف من خلال العبارات والأمور المسندة إلى ذات من وقع عليه الفعل ويجب على عاتق جهة الإدعاء الإثبات، ويتحقق هذا الإثبات لديها إذا ما نسبت للفاعل صدق هذه العبارات أو الأمور المسندة إليه.
        وعلى المحكمة عندئذ أن تذكر هذه العبارات فقط في ضمن قرارها للدلالة على حصول وثبوت الفعل.
        أما إذا كانت هذه العبارات والأفعال المسندة لمن ذُكِر، كأن تكون غير ظاهرة المعنى أو الدلالة، فليس من الممكن افتراض ثبوت القصد الجرمي لدى الفاعل، وعلى جهة الإدعاء إثباته حكماً.
        أما تحقيق قصد العلنية فيتم من خلال الوسائل المستعملة التي لجأ إليها الفاعل لتحقيق نتيجته الجرمية وما قصد إليه من وراء فعله، وعلى جهة الإدعاء عبء إثبات أن الفعل وقع بإحدى طرق العلنية المعروفة.
        العقوبة :
        عطفت المادة المذكورة على نص المادة 281  من قانون العقوبات لتحديد العقوبة التي هي جنحية الوصف وبالتالي فالعقوبة هي الحبس من ستة أشهر إلى سنتين وبغرامة لا تتجاوز المائتي ليرة، وللمحكمة أيضاً أن تقضي بالمنع من الحقوق المدنية أو منع الإقامة أو الإخراج من البلاد وفقاً لأحكام المادة 311 من قانون العقوبات العام.
        رابعاً :  نص الفقرة الرابعة من هذه المادة :
        تضمنت هذه الفقرة في طياتها ما يلي:
        ” لا يجوز إثبات الفعل الذي كان موضوع الذم “.
        لقد وفق المشرع السوري بين ضرورتين اجتماعيتين:
        أولهما : حق النقد وحرية إبداء الرأي.
        وثانيهما : الحفاظ على الكرامة والشرف والاعتبار، لذلك فقد أقر المشرع السوري حالة حفظ فيها ما يمس حياة الأفراد الخاصة، إذ لا يحق لأحد – لانتفاء المصلحة – في الاطلاع على مساوئ الأفراد وما يتناول منها بالخصوص معيشتهم وأفعالهم وحياتهم الخاصة، فلا يجوز النيل من كرامتهم أو مس اعتبارهم، وعلى هذا فلا يحق لأحد من الناس أن يبيح لنفسه تبرير فعله عن طريق طلبه حق إثبات الفعل الذي كان موضوع الذم أو القدح أو أن يقيم الدليل عليه، وهو مبدأ ورد النص عليه هنا بهذه المادة كحالة خاصة، ورد أيضاً كمبدأ عام بنص المادة 569 من قانون العقوبات العام في باب البحث بأحكام الذم والقدح.
        بيد أن هناك استثناءات على هذا الموضوع، ربما سنتعرض لها في حينه كنص المادة 377 من قانون العقوبات .



    </p>

</div>
{% endblock body %}


    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src=" ../static/js/bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8">
       
       
       
    </script>
</body>
</html>