
{% include 'header.html' %}



 

{% block body %}
  <body >

  <br>
  <div class="logo text-center">
    <img src="../static\images\sham_photo.jpg" alt="">
  
  <br>

  <br>


  <form class="form-signin"    method="POST" >

    <input type="text"  name="username" class="form-control" placeholder="اسم المستخدم"   required  autocomplete="off"/><br>
    <input type="password"  name="password" class="form-control" placeholder="كلمة السر"  required autocomplete="new-password"/> <br>
    <button class="btn btn-lg  enter btn-primary btn-block mybutton" value="submit">الدخول  </button>
    <br>
    <a href="http://127.0.0.1:2700/sign" class="create_regis">إنشاء حساب </a> 

  </form>
</div>
{% endblock body %}
