{% extends 'base.html' %} {% include 'header.html' %} {% block title %} private
{% endblock title %}

<body>
  {% block body %}

  <h2 class="mytitle">البريد الالكتروني</h2>

  {{session['username']}} {{data}} {% with messages =
  get_flashed_messages(with_categories=true) %} {% if messages %} {% for
  category, message in messages %} {% if category=='success' %}

  <div class="alert alert-success alert-dismissable" role="alert">
    {{message}}
   
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {%else%}

    

  <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
<br>


    
<a href="http://127.0.0.1:2700/law" class="create_regis">  لاطلاع على عقوبات القانون السوري الخاصة بالجريمة  الإلكتروني         </a>
<br>
<span>إذا كنت لا تعتقد أن رسالتك تحوي على كلمات غير أخلاقية الرجاء إعادة كتابة الرسالة</span>
   

  </div>

     
      
   
    
        

  </form>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endif %} {% endfor %} {% endif %} {% endwith %}
  <br />

  <form class="Regi" action="{{url_for('send2')}}" method="POST">
    <div class="col">
      <input
        type="text"
        name="receiver"
        class="name"
        placeholder="  أدخل أسم المستخدم   "
        required="required"
      />
    </div>

    <div class="col">
      <textarea
        name="mymail"
        placeholder=" ✍ "
        cols="46"
        rows="6"
        class="mytexta"
        required="required"
      ></textarea>
    </div>
   
    <br />
    <div class="col" >
      <input
       type="hidden"
        name="ok"
        class="name"
        value=no
      />
    <button
      type="submit"
      class="btn btn-primary sign_in"
      onclick="return confirm('هل متأكد أنك تريد أرسال الرسالة')"
    >
      Sign in
    </button>
  </form>

  

  <br />

  {% endblock body %}
</body>
